{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    <div class="profile-container">
        <header class="profile-header">
            <h1>Добро пожаловать, {{ user.username }}!</h1>
            <p class="user-info">Email: {{ user.email }}</p>
            <p class="user-info">Дата регистрации: {{ user.date_joined|date:"d M Y" }}</p>
        </header>

        <section class="profile-actions">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                 <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
</section>
    </div>
</body>
</html>
