{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Design.pro</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header class="header">
        <h1 class="welcome-message">Добро пожаловать в Design.pro</h1>
        <div class="bubbles"></div>
        <nav class="navbar">
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}" class="btn">Личный кабинет</a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Выход</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn">Вход</a>
                <a href="{% url 'register' %}" class="btn">Регистрация</a>
            {% endif %}
        </nav>
    </header>

    <main class="content">
        {% if user.is_authenticated %}
            <p>Вы можете создавать, просматривать и управлять своими запросами на дизайн интерьера.</p>
            <a href="{% url 'application-create' %}" class="btn btn-primary">Создать заявку</a>
            <a href="{% url 'application-list' %}" class="btn btn-secondary">Посмотреть заявки</a>
        {% else %}
            <h2>Ознакомьтесь с нашими услугами</h2>
            <p>Войдите в систему или зарегистрируйтесь, чтобы начать создавать свои пожелания по дизайну интерьера.</p>
        {% endif %}
    </main>

    <footer class="footer">
        <p>&copy; 2024 Design.pro. Все права защищены.</p>
    </footer>
<script src="{% static 'js/index.js' %}" defer></script>
</body>
</html>
